<!DOCTYPE html>
<html>
<head>
    <title>{{ cocktail.strDrink }}</title>
</head>
<body>
    <h2>{{ cocktail.strDrink }} {% if cocktail.strAlcoholic %} ({{ cocktail.strAlcoholic }}) {% endif %}</h2>
    {% if item.strDrinkThumb %}
                    <img src="{{ item.strDrinkThumb }}" alt="Cocktail Image" style="width: 100px; height: 100px;">
                {% endif %}
    <h3>Instructions:</h3>
    <p>{{ cocktail.strInstructions }}</p>      
    <h3>Top Ingredients:</h3>
    <ul>
        {% for item in ingredient_with_measure %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>      
</body>
</html>